:root {
  --blue: #0051ff;
  --white_grey: #f3f3f3d3;
  --blue_transparent_container: #0051ffaf;
  --grey_blue_transparent_container: #b8d4fdd5;
  --text_white: #ffffff;
  --text_black: #181818;
  --farbe-footer: #333333;
}