/* css für die index.html */
            input{
                margin-bottom: 5px;
            }
            table, th, td{
                border: 1px solid black;
                width: 40%;
                text-align: center;
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #cac8c8e8;
                text-align: center;
            }
 
            nav li {
                display: inline-block;
                margin: 0 10px;
            }

            nav a{
                display: block;
                padding: 12px 20px;
                text-decoration: none;
                color: #333;
                font-weight: bold;
                transition: background 0.3s, color 0.3s;
            }
            nav a:hover {
                background-color: #333;
                color: #fff;
            }

            #antrag{
                margin-top: 10px;
            }

           footer ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #cac8c8e8;
                text-align: center;
            }
 
            footer li {
                display: inline-block;
                margin: 0 10px;
            }

            footer a{
                display: block;
                padding: 12px 20px;
                text-decoration: none;
                color: #333;
                font-weight: bold;
                transition: background 0.3s, color 0.3s;
            }
            footer a:hover {
                background-color: #333;
                color: #fff;
            }