            @font-face {
                font-family: 'Roboto';
                src: url('./fonts/Roboto-Regular.tff') format('tff');
                font-weight: normal;
                font-style: normal;
                
}

            #logo{
                max-width: 50px;
                border: 1px solid black;
                padding: 10px;  
            }
            h1{
                color: rgba(0, 0, 255, 0.3);
            }
            p::before{
                content: 'Text davor';
                color:green;
            }
            a::after{
                content: '→';
            }
            /* Ändere die Schrift-Farbe (color) aller Elemente in rot (red), und schreibe uns deinen Code ins Antwortfeld (auch bei den weiteren Aufgaben).  */
/*             *{
                color: blue;
                font-family: 'Roboto';
                font-size: 20px;
                font-style: italic;
            } */

            body{
                background-image:url("../ressources/couple-3581038_640.jpg");
                background-repeat: no-repeat;
                background-size: 25%;
                background-position: right center;
            }
            /* Färbe alle Elemente innerhalb eines Div-Tags mit der Farbe Grün ein (color:green). */
            div *{
                color: green;
            }

            a{
                background-color: red;
                color: white;
                font-size: 15px;
                text-decoration: none;
                padding: 15px 25px;
                text-align: center;
                display: inline-block;
                border-radius: 5px;

            }
            /* Nicht besuchter Link */
            a:link { 
                color: blue;
            }    
            /* Besuchter Link */  
            a:visited { 
                color: purple; 
            }  
            /* Beim Darüberfahren */
            a:hover { 
                color: red;
                /* background-color: aqua;  */
            }   
            /* Beim Klicken */
            a:active { 
                color: yellow; 
            }   

/*             ul > li { 
                color: #ffff00;
            } */

            /*Ändere alle Links im header-Tag sowie im article-Tag in die Farbe Rot (Selektor1, Selektor2). */
           /*  header a, article a{
                color: red;
            } */
            /* Ändere den Rahmen (border) aller HTML-Elemente, die sowohl die CSS-Klasse price als auch die CSS-Klasse new besitzen, in einen grünen, durchgezogenen Rahmen mit einer Dicke von 1 Pixel (1px solid green). */
            .new,.price{
               border: 1px solid green; 
            }

            p#autor{
                font-weight: bold;
                color: black;

            }
            /* Ändere die Farbe aller span-Elemente, die das Attribut "lang" mit dem Wert "de" besitzen, auf Rot. (xx[xx="xx"]) */
            span[lang="de"]{
                color:red;
            }

            span.de {
                color:red;
            }

            .linkliste > li{
                padding-left: 100px;
            }

            [type=submit] {
                background: yellow;
            }
            div{
                background-color: rgba(228, 222, 222, 0.5);
                /* border: 5px solid black; */
                border-bottom: 1px solid #aeaeae;
                margin: 100px;
                padding: 20px;
                
            }

